@import 'vars';
@import 'text-format';
@import 'content';
* {
    margin: 0;
    padding: 0;
}

a {
    color: unset;
    text-decoration: none;
}

.center {
    padding-left: 13vw;
    padding-right: 21vw;
    &__content {
        padding-right: 4vw;
    }
}

.landing {
    background-image: url(img/landing/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: row;
    &__panel {
        width: 8vw;
        background: rgba(51, 51, 51, 0.75);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 8.2vh;
    }
    &__aside-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 3.8vh;
    }
    &__social {
        display: flex;
        flex-direction: column-reverse;
        gap: 2.87vh;
    }
    &__network {
        transition: 0.5s;
        &:hover svg path {
            fill: $gold;
        }
    }
    &__line {
        min-height: 7.65vh;
    }
    &__aside-text {
        transform: rotate(-90deg);
        min-width: max-content;
        padding-left: 15vw;
        @include text-format('Sans C', 18px, 25px, $gray);
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
    &__header {
        display: flex;
        flex-direction: row;
        gap: 8vw;
        padding-top: 51px;
        align-items: center;
    }
    &__content {
        display: flex;
        flex-direction: row;
        padding-top: 10vh;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    &__about {
        display: flex;
        flex-direction: column;
        gap: 50px;
        max-width: 28.125vw;
    }
    &__title {
        @include text-format('Sans C', 50px, 87px, $white);
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
    &__text {
        @include text-format('Sans', 14px, 21px, $white);
    }
    &__button {
        @include text-format('Sans', 18px, 25px, $white);
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $gold;
        border: none;
        max-width: 160px;
        min-height: 50px;
        letter-spacing: 0.1em;
        cursor: pointer;
    }
    &__slider {
        position: relative;
        z-index: 1;
        max-width: 19vw;
    }
    &__broshure {
        max-width: 18vw;
    }
    &__broshure-back {
        max-width: 18vw;
        position: absolute;
        top: 2vh;
        left: 1vw;
        z-index: -1;
    }
    &__pagination {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 5vh;
        &_left {
            min-width: 5.625vw;
            background: none;
            border: none;
            @include text-format('Sans C', 18px, 25px, $gray);
            text-transform: uppercase;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            transition: 0.5s;
            cursor: pointer;
            svg {
                width: 2vw;
            }
            svg path {
                transition: 0.5s;
            }
            &:hover {
                color: $gold;
            }
            &:hover svg path {
                fill: $gold;
            }
        }
        &_right {
            min-width: 5.625vw;
            background: none;
            border: none;
            @include text-format('Sans C', 18px, 25px, $gray);
            text-transform: uppercase;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            transition: 0.5s;
            cursor: pointer;
            svg {
                width: 2vw;
            }
            svg path {
                transition: 0.5s;
            }
            &:hover {
                color: $gold;
            }
            &:hover svg path {
                fill: $gold;
            }
        }
    }
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 2.6vw;
    &__link {
        @include text-format('Sans C', 12px, 18px, $white);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        transition: 0.5s;
        &:hover {
            color: $gold;
        }
    }
}

.phone {
    @include text-format('Sans C', 16px, 22px, $white);
    text-align: right;
    letter-spacing: 0.05em;
    border-bottom: solid $gold 1px;
}