.background {
  background-color: #333333;
}

.center-content {
  margin-left: 21vw;
  margin-right: 21vw;
}

.gold-text {
  color: #D1A954;
}

.about-theatre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  gap: 100px;
}
.about-theatre__title {
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-size: 48px;
  line-height: 65px;
  color: #FFFFFF;
}
.about-theatre__content {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.about-theatre__left {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 23vw;
}
.about-theatre__subtitle {
  font-family: "Open Sans Condensed";
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.about-theatre__text {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}
.about-theatre__middle {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.about-theatre__box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.about-theatre__box_text {
  font-family: "Open Sans Condensed";
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.about-theatre__right {
  align-self: center;
}
.about-theatre__image {
  max-width: 18vw;
}

.our-production {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
}
.our-production__title {
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-size: 48px;
  line-height: 65px;
  color: #FFFFFF;
}
.our-production__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.our-production__item {
  filter: brightness(0.33);
  min-width: 23vw;
  min-height: 450px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.5s;
  cursor: pointer;
}
.our-production__item:hover {
  filter: brightness(1);
}
.our-production__text-box {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 247px;
  position: relative;
}
.our-production__subtitle {
  font-style: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-size: 22px;
  line-height: 33px;
  color: #FFFFFF;
}
.our-production__text {
  transform: rotate(270deg);
  font-style: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  position: absolute;
  top: 250%;
  left: 0;
}

#product1 {
  background-image: url(img/mainContent/our-production/September.png);
}

#product2 {
  background-image: url(img/mainContent/our-production/April.png);
}

#product3 {
  background-image: url(img/mainContent/our-production/July.png);
}

#product4 {
  background-image: url(img/mainContent/our-production/May.png);
}

.rating {
  background-image: url(img/mainContent/rating/theatre.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  gap: 103px;
  padding: 126px 95px 126px 190px;
}
.rating__year {
  font-weight: 700;
  letter-spacing: 7.2px;
  font-family: "Open Sans Condensed";
  font-size: 62px;
  line-height: normal;
  color: #D1A954;
}
.rating__text-box {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
}
.rating__text {
  font-weight: 700;
  font-family: "Open Sans";
  font-size: 21px;
  line-height: 120%;
  color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: unset;
  text-decoration: none;
}

.center {
  padding-left: 13vw;
  padding-right: 21vw;
}
.center__content {
  padding-right: 4vw;
}

.landing {
  background-image: url(img/landing/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.landing__panel {
  width: 8vw;
  background: rgba(51, 51, 51, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 8.2vh;
}
.landing__aside-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 3.8vh;
}
.landing__social {
  display: flex;
  flex-direction: column-reverse;
  gap: 2.87vh;
}
.landing__network {
  transition: 0.5s;
}
.landing__network:hover svg path {
  fill: #D1A954;
}
.landing__line {
  min-height: 7.65vh;
}
.landing__aside-text {
  transform: rotate(-90deg);
  min-width: -moz-max-content;
  min-width: max-content;
  padding-left: 15vw;
  font-family: "Open Sans Condensed";
  font-size: 18px;
  line-height: 25px;
  color: #C4C4C4;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.landing__header {
  display: flex;
  flex-direction: row;
  gap: 8vw;
  padding-top: 51px;
  align-items: center;
}
.landing__content {
  display: flex;
  flex-direction: row;
  padding-top: 10vh;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.landing__about {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 28.125vw;
}
.landing__title {
  font-family: "Open Sans Condensed";
  font-size: 50px;
  line-height: 87px;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.landing__text {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}
.landing__button {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D1A954;
  border: none;
  max-width: 160px;
  min-height: 50px;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.landing__slider {
  position: relative;
  z-index: 1;
  max-width: 19vw;
}
.landing__broshure {
  max-width: 18vw;
}
.landing__broshure-back {
  max-width: 18vw;
  position: absolute;
  top: 2vh;
  left: 1vw;
  z-index: -1;
}
.landing__pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5vh;
}
.landing__pagination_left {
  min-width: 5.625vw;
  background: none;
  border: none;
  font-family: "Open Sans Condensed";
  font-size: 18px;
  line-height: 25px;
  color: #C4C4C4;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}
.landing__pagination_left svg {
  width: 2vw;
}
.landing__pagination_left svg path {
  transition: 0.5s;
}
.landing__pagination_left:hover {
  color: #D1A954;
}
.landing__pagination_left:hover svg path {
  fill: #D1A954;
}
.landing__pagination_right {
  min-width: 5.625vw;
  background: none;
  border: none;
  font-family: "Open Sans Condensed";
  font-size: 18px;
  line-height: 25px;
  color: #C4C4C4;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}
.landing__pagination_right svg {
  width: 2vw;
}
.landing__pagination_right svg path {
  transition: 0.5s;
}
.landing__pagination_right:hover {
  color: #D1A954;
}
.landing__pagination_right:hover svg path {
  fill: #D1A954;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 2.6vw;
}
.menu__link {
  font-family: "Open Sans Condensed";
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: 0.5s;
}
.menu__link:hover {
  color: #D1A954;
}

.phone {
  font-family: "Open Sans Condensed";
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  text-align: right;
  letter-spacing: 0.05em;
  border-bottom: solid #D1A954 1px;
}/*# sourceMappingURL=style.css.map */